<style>
  .col-4{
    margin-bottom: 15px;
  }
  img{
    border: 2px dashed blue;
    margin: 4px;
  }
  textarea{
   font-weight: bolder; 
   font-size: larger;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let wali of Object">
      <app-card-data [wali]="wali" [text]="'testing'">
  
      </app-card-data>

    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src={{imgPath[1]}} alt="not found">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur cupiditate dicta maxime deserunt? Officia, qui ut commodi distinctio alias optio totam. </p>
        </div>
        <div class="col-4">
          <!-- <img src='"http://placehold.it/400"' alt="not found"> -->
          <img src={{imgPath[1]}} alt="not found">
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur cupiditate dicta maxime deserunt? Officia, qui ut commodi distinctio alias optio totam. </p>
        </div>
        <div class="col-4">
          <img src="{{imgPath[1]}}" alt="not found">
          <img src="{{img}}"alt="not found">
          <img src={{img}} alt="not found">
          <img [src]=img alt="not found">
          <img [src]=imgPath[3] alt="not found">
          <h1>www</h1>
          <img [src]="imgPath[3]" alt="not found">
          <img src="http://placehold.it/400&text=Monkfox" alt="not found">
          <!-- <img src='"http://placehold.it/400&text=Monkfox"' alt="not found">      this not  working but Why??? -->



          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur cupiditate dicta maxime deserunt? Officia, qui ut commodi distinctio alias optio totam. </p>
        </div>
      </div>
    </div>
    <!-- <div class="col-4">
      <app-card-data [var1]="'http://placehold.it/400&text=second Image'">
  
      </app-card-data>

    </div>
    <div class="col-4">
      <app-card-data [var1]="'http://placehold.it/400&text=third Image'"[text]="'Sayyed Waliullah'" >
  
      </app-card-data>
      <img src="http://placehold.it/300&text=Sayyed waliullah" alt="not found">

    </div>
    <div class="col-4">
      <app-card-data [var1]="'http://placehold.it/400&text=fourth Image'" [text]="'this is previous task'">
  
      </app-card-data>

    </div>
    <div class="col-4">
      <app-card-data [var1]="'http://placehold.it/400&text=fifth Image'" [text]="text">
  
      </app-card-data>

    </div>
    <div class="col-4">
      <app-card-data [var1]="'http://placehold.it/400&text=sixth Image'" [text]="text">
  
      </app-card-data>

    </div>
    <div class="col-4">
      <app-card-data [var1]="'http://placehold.it/400&text=seventh Image'">
  
      </app-card-data>

    </div>
    <div class="col-4">
      <app-card-data [var1]="'http://placehold.it/400&text=eighth Image'">
  
      </app-card-data>

    </div>
    <div class="col-4">
      <app-card-data [var1]="'http://placehold.it/400&text=ninth Image'">
  
      </app-card-data>

    </div> -->
    <h1> your text is here</h1>
    <h2>{{title}}</h2>
    <textarea name="" id="" cols="10" rows="2"  [(ngModel)]="title">

    </textarea>

    <input type="text" placeholder="Two way data bindings" >
    <input type="text" placeholder={{title}} value={{title}}>

    <div >
     <h1 *ngIf="name; else ttt">
      {{"Your Name is "+ name}}
     </h1> 
     <ng-template #ttt>
       <h2>
         {{"Sorry No Name Found "+ name}}
       </h2>
     </ng-template>
    </div>


  </div>
</div>